// Основной контент стартовой страницы

main.main-content
  section.content-section.content-section-specialties
    h3 Наши специальности (и классификации)
    h4 на бюджетной основе (бесплатно) с выплатой стипендии
    ul.specialties-list
      li.specialties-list__item Вычислительная техника и программное обеспечение (техник по защите информации, техник по обслуживанию компьютерных устройств)
      li.specialties-list__item Информационные системы (дизайнер)
      li.specialties-list__item Строительство и эксплуатация зданий и сооружений (техник-строитель)
      li.specialties-list__item Строительство автомобильных дорог и аэродромов (техник-строитель)
      li.specialties-list__item Техническое обслуживание, ремонт и эксплуатация автомобильного транспорта (техник-механик, мастер по ремонту транспорта)
      li.specialties-list__item Маркетинг [Экспертиза качества потребительских товаров] (Товаровед)
      li.specialties-list__item Учёт и аудит на гос. языке (Бухгалтер - ревизор (аудитор))
      li.specialties-list__item Радиоэлектроника и связь (nехник - радиомеханик)
    a(href="specialities.html") Все специальности
    img.img-responsive(src='img/index-page/specials-titul.jpg', alt='Специальности ГТК')
  section.content-section.content-section-base
    h3 Наши ресурсы 
    p ГТК - имеет мощную материально-техническую базу:
    ul
      li 4 корпуса, 55 учебных кабинетов и лабораторий, 5 мастерских,
      li 9 компьютерных классов, 6 интерактивных досок,
      li 8 мультимедийных проекторов с экранами, 9 широкоформатных телевизоров,
      li наборы робототехники, наглядные лабораторные стенды
      li скоростное оптическое интернет – подключение,
      li собственная типография, центр информационных технологий, библиотека с книжным фондом почти 100 тысяч экземпляров,
      li спортивный зал, тренажерный зал, спортивные площадки,
      li музеи, столовая, буфет, общежитие на 300 мест,
      li строительный участок,СТО-технопарк,
      li столярно-плотницкий, сварочный, токарно-фрезерный цеха,
      li большой парк автомобилей,
      li большое количество учебно-лабораторного оборудования
  section.content-section.content-section-events
    h3 Наши события
    p Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Своего семь первую рот вскоре лучше! Составитель, он. Залетают океана одна послушавшись ручеек снова дороге гор мир знаках вершину прямо.
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dignissimos, rem expedita nulla ipsa autem quibusdam explicabo iste? Libero, obcaecati iste voluptates accusamus ipsa quod quia eveniet voluptatum explicabo dolore?
    .events-list
      .events-list__event 1
      .events-list__event 2
      .events-list__event 3
      .events-list__event 4
      .events-list__event 5
      .events-list__event 6
      .events-list__event 7
      .events-list__event 8
      .events-list__event 9
      .events-list__event 10
    
      