main.main-content
  section.content-section
    h3 Наши специальности (и классификации)
    h4 на бюджетной основе (бесплатно) с выплатой стипендии
    table.table.table-specialities
      tbody
        tr
          th
          th
            strong Специальность
          th
            strong Квалификация
          th
            strong Сроки обучения
        tr
          td 1
          td
            strong Технология машиностроения
          td Техник - мехатроник
          td на базе 9 кл. – 3 г. 6 м.
        tr
          td 2
          td(rowspan='2')
            strong Вычислительная техника и программное обеспечение
          td Техник по защите информации
          td на базе 9 кл. - 3 г. 10 м.
        tr
          td 3
          td Техник по обслуживанию компьютерных устройств
          td на базе 9 кл. – 3 г. 10 м.
        tr
          td 4
          td
            strong Информационные системы
          td Дизайнер
          td на базе 9 кл. – 2 г. 10 м.
        tr
          td 5
          td
            strong Строительство и эксплуатация зданий и сооружений
          td Техник - строитель
          td на базе 9 кл. – 3 г. 6 м.
        tr
          td 6
          td
            strong Строительство автомобильных дорог и аэродромов
          td Техник - строитель
          td на базе 9 кл. – 3 г. 6 м.
        tr
          td 7
          td(rowspan='2')
            strong Техническое обслуживание, ремонт и эксплуатация автомобильного транспорта
          td Техник - механик
          td на базе 9 кл. – 3 г. 10 м.
        tr
          td 8
          td Мастер по ремонту транспорта
          td на базе 9 кл. – 2 г. 10 м.
        tr
          td 9
          td
            strong Маркетинг (Экспертиза качества потребительских товаров)
          td Товаровед
          td
            | на базе 9 кл. – 2 г. 10 м,
            br
            | на базе 11 кл. – 1 г. 10 м.
        tr
          td 10
          td
            strong Учёт и аудит
            br
            | на гос. языке
          td Бухгалтер - ревизор (аудитор)
          td на базе 9 кл. – 2 г. 10 м.
        tr
          td 11
          td
            strong Радиоэлектроника и связь
          td Техник - радиомеханик
          td на базе 9 кл. – 3 г. 10 м.
    br
    h4 на коммерческой основе с оплатой за обучение:
    table
      thead
        tr
          th(width='33%', rowspan='2') Специальность
          th(width='41%', rowspan='2') Квалификация
          th(width='26%', colspan='2') Сроки обучения
        tr
          th(width='13%') на базе 9 кл.
          th(width='12%') на базе 11 кл.
      tbody
        tr
          td(width='33%', rowspan='3') Технология машиностроения
          td(width='41%') Техник - технолог
          td(width='13%') 3 г. 6 м.
          td(width='12%') 2 г. 6 м.
        tr
          td(width='41%') Слесарь-ремонтник
          td(width='13%') 2 г. 6 м.
          td(width='12%')
        tr
          td(width='41%') Техник-мехатроник
          td(width='13%') 3 г. 6 м.
          td(width='12%') 2 г. 6 м.
        tr
          td(width='33%', rowspan='4') Вычислительная техника и программное обеспечение
          td(width='41%') Техник – программист
          td(width='13%') 3 г. 10 м.
          td(width='12%') 2 г. 10 м.
        tr
          td(width='41%') Оператор электронно-вычислительных машин
          td(width='13%') 2 г. 10 м.
          td(width='12%') 10 м.
        tr
          td(width='41%') Техник по защите информации
          td(width='13%') 3 г. 10 м.
          td(width='12%') 2 г. 10 м.
        tr
          td(width='41%') Техник по обслуживанию компьютерных устройств
          td(width='13%') 3 г. 10 м.
          td(width='12%') 2 г. 10 м.
        tr
          td(width='33%') Информационные системы
          td(width='41%') Дизайнер
          td(width='13%') 1 г. 10 м.
          td(width='12%') 10 м.
        tr
          td(width='33%', rowspan='2') Строительство и эксплуатация зданий и сооружений
          td(width='41%') Техник-строитель
          td(width='13%') 3 г. 6 м.
          td(width='12%') 2 г. 6 м.
        tr
          td(width='41%') Мастер строитель широкого профиля
          td(width='13%') 2 г. 10 м.
          td(width='12%') 10 м.
        tr
          td(width='33%', rowspan='7') Строительство автомобильных дорог и аэродромов
          td(width='41%') Техник-строитель
          td(width='13%') 3 г. 6 м.
          td(width='12%') 2 г. 6 м.
        tr
          td(width='41%') Машинист автогрейдера
          td(width='13%') 2 г. 10 м.
          td(width='12%') 10 м.
        tr
          td(width='41%') Машинист бульдозера
          td(width='13%') 2 г. 10 м.
          td(width='12%') 10 м.
        tr
          td(width='41%') Машинист катка самоходного с гладкими вальцами
          td(width='13%') 2 г. 10 м.
          td(width='12%') 10 м.
        tr
          td(width='41%') Машинист компрессора
          td(width='13%') 2 г. 10 м.
          td(width='12%') 10 м.
        tr
          td(width='41%') Машинист укладчика асфальтобетона
          td(width='13%') 2 г. 10 м.
          td(width='12%') 10 м.
        tr
          td(width='41%') Машинист уплотняющий и планировочно-уплотняющий машины
          td(width='13%') 2 г. 10 м.
          td(width='12%') 10 м.
        tr
          td(width='33%', rowspan='5') Техническое обслуживание, ремонт и эксплуатация автомобильного транспорта
          td(width='41%') Техник-механик
          td(width='13%') 3 г. 10 м.
          td(width='12%') 2 г. 10 м.
        tr
          td(width='41%') Электрик по ремонту автомобильного электрооборудования
          td(width='13%') 2 г. 10 м.
          td(width='12%') 10 м.
        tr
          td(width='41%') Мастер по ремонту транспорта
          td(width='13%') 2 г. 10 м.
          td(width='12%') 1 г. 10 м.
        tr
          td(width='41%') Мастер по ремонту кузовов автотранспортных средств
          td(width='13%') 2 г. 10 м.
          td(width='12%') 10 м.
        tr
          td(width='41%') Слесарь по ремонту автомобилей
          td(width='13%') 2 г. 10 м.
          td(width='12%') 10 м.
        tr
          td(width='33%') Библиотечное дело
          td(width='41%') Библиотекарь
          td(width='13%') 2 г. 10 м.
          td(width='12%') 1 г. 10 м.
        tr
          td(width='33%') Маркетинг (Экспертиза качества потребительских товаров)
          td(width='41%') Товаровед
          td(width='13%') 2 г. 10 м.
          td(width='12%') 1 г. 10 м.
        tr
          td(width='33%') Финансы, на гос. и рус. яз.
          td(width='41%') Экономист по финансовой работе
          td(width='13%') 2 г. 10 м.
          td(width='12%') 1 г. 10 м.
        tr
          td(width='33%') Правоведение, на гос. и рус. яз.
          td(width='41%') Юрисконсульт
          td(width='13%') 2 г. 10 м.
          td(width='12%') 1 г. 10 м.
        tr
          td(width='33%', rowspan='2') Учёт и аудит, на гос. и рус. яз.
          td(width='41%') Бухгалтер-ревизор (аудитор)
          td(width='13%') 2 г. 10 м.
          td(width='12%') 1 г. 10 м.
        tr
          td(width='41%') Бухгалтер
          td(width='13%') 1 г. 10 м.
          td(width='12%') 10 м.
        tr
          td(width='33%', rowspan='2') Радиоэлектроника и связь
          td(width='41%') Техник-радиомеханик
          td(width='13%') 3 г. 10 м.
          td(width='12%') 2 г. 10 м.
        tr
          td(width='41%') Электромонтёр по телекоммуникационным сетям и системам
          td(width='13%') 2 г. 10 м.
          td(width='12%') 10 м.
        tr
          td(width='33%', rowspan='2') Туризм
          td(width='41%') Менеджер
          td(width='13%') 3 г. 6 м.
          td(width='12%') 2 г. 6 м.
        tr
          td(width='41%') Туристический агент
          td(width='13%') 2 г. 10 м.
          td(width='12%') 10 м.
        tr
          td(width='33%') Сварочное дело
          td(width='41%') Электрогазосварщик
          td(width='13%') 2 г. 10 м.
          td(width='12%') 1 г. 10 м.