//- main-header

// .. 

// Начало всего header-а

header.main-header
  section.main-header__titul
    h1 PETROPAVL GUMANITARLYQ TEHNIKALYQ KOLLEJ
    h1 ПЕТРОПАВЛОВСКИЙ ГУМАНИТАРНО-ТЕХНИЧЕСКИЙ КОЛЛЕДЖ
  section.main-header__epigraf
    h3 Кäsiptik-texnïkalıq bilimniñ joğarı sapası 
    h3 Профессионально-техническое образование высшего качества
  section.main-header__esteblish 
    h2 Ol 1930 jyly qurylǵan. Bіz dástúrlerdі syılaımyz - bіz ınnavatsııaǵa umtylamyz
    h2 Основан в 1930 году. Чтим традиции - стремимся к инноавциям
  section.main-header__welcome
    h2 
      div.inline.main-header__welcome-caption Qoş keldiñiz 
      div.inline.main-header__welcome-caption Добро пожаловать
  
  div.menu-social__button
    p.menu-social__button__caption мы в инете
    ul.menu-social__menu-block
      li.facebook
        a(href='#')
          i.fa.fa-facebook
      li.twitter
        a(href='#')
          i.fa.fa-twitter
      li.googlePlus
        a(href='#')
          i.fa.fa-google-plus
      li.instagram
        a(href='#')
          i.fa.fa-instagram

// Конец всего header-а

// ..
      