// Шапка других страниц

header.other-header
  section.other-header__titul
    h1 PETROPAVL GUMANITARLYQ TEHNIKALYQ KOLLEJ

.horisontal-separator

  //- // Блок кнопок социальных сетей  
  //- div.menu-social__button
  //-   p.menu-social__button__caption мы в инете
  //-   ul.menu-social__menu-block
  //-     li.facebook
  //-       a(href='#')
  //-         i.fa.fa-facebook
  //-     li.twitter
  //-       a(href='#')
  //-         i.fa.fa-twitter
  //-     li.googlePlus
  //-       a(href='#')
  //-         i.fa.fa-google-plus
  //-     li.instagram
  //-       a(href='#')
  //-         i.fa.fa-instagram

// Конец всего header-а

// ..
      