// Само Главное меню (Ссылки)

li.main-menu__item
  a(href='#') Специальности
li.main-menu__item
  a(href='#') Как поступить
li.main-menu__item
  a(href='#') События
li.main-menu__item
  a(href='#') Студенческая жизнь
li.main-menu__item
  a(href='#') Общежитие
li.main-menu__item
  a(href='#') Спорт
li.main-menu__item
  a(href='#') Культура и воспитание
li.main-menu__item
  a(href='#') Материальная база
li.main-menu__item
  a(href='#') Преподаватели
li.main-menu__item
  a(href='#') Администрация
li.main-menu__item
  a(href='#') История
li.main-menu__item
  a(href='#') One
li.main-menu__item
  a(href='#') Two
li.main-menu__item
  a(href='#') Three
li.main-menu__item
  a(href='#') Four
li.main-menu__item
  a(href='#') Five
li.main-menu__item
  a(href='#') Six  
li.main-menu__item
  a(href='#') Контакты
