doctype
html(lang="ru")
	head
		include includes/_h-metas.pug
		include includes/_h-links.pug
	body
		// Макет
		include includes/_l-menu-toggle.pug
		include includes/_l-main-header.pug
		include pages-content/_index-content.pug
		include includes/_l-main-aside.pug
		include includes/_l-main-footer.pug
	
		// Скрипты в конце body
		include includes/_scripts.pug
		